#pdf-container {
  box-shadow: 0 1px 3px #444;
  position: relative;
  line-height: 1;
  overflow-x: auto;
  overflow-y: auto;
  /*padding: 8px;*/
  height: 93vh;
  background-color: lightgrey;
  position: relative;
}

div[id^="fabric-container"] {
  position: absolute;
}

canvas[id^="f-canvas"] {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

div[class="textLayer"] {
  pointer-events: none;
}

#root {
  height: 100vh;
}

#pdf-toolbar {
  height: 7vh;
}

.text-span {
  position: absolute;
  cursor: text;
  white-space: pre;
  transform-origin: left bottom;
  color: rgba(255, 255, 255, 0);
}

.rectangle {
  color: #000000;
  background-color: #000000;
  position: absolute;
}

button[an="true"] {
  background-color: #f2b195;
}

button[an="false"] {
  background-color: #0099cc;
}

.hidden {
  display: none;
}

.anonymization-enabled {
  cursor: crosshair;
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}
